.player-container{
    width: 280px;
    padding : 20px;
    margin:10px;
    border-radius:10px;
    background-color: rgb(231, 213, 110);
    box-shadow:5px 5px 10px rgb(158, 158, 157);;
}
.player-image{
    text-align: center;
}
.player-image img{
    height :200px;
    border: 10px solid rgb(243, 233, 176);
    border-radius: 10px;
}
.player-details{
    padding: 10px;
    flex-direction:column;
}